/* START OF LIGHT THEME */
:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --back-color: #f8f8f8;
  --secondary-back-color: #f0f0f0;
  --blockquote-color: #f57c00;
  --pre-color: #1565c0;
  --border-color: #aaa;
  --secondary-border-color: #ddd;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #0277bd;
  --a-visited-color: #01579b;
  --card-back-color: #f8f8f8;
  --card-fore-color: #111;
  --card-border-color: #ddd;
  --form-back-color: #f0f0f0;
  --form-fore-color: #111;
  --form-border-color: #ddd;
  --input-back-color: #f8f8f8;
  --input-fore-color: #111;
  --input-border-color: #ddd;
  --input-focus-color: #0288d1;
  --input-invalid-color: #d32f2f;
  --button-back-color: #e2e2e2;
  --button-hover-back-color: #dcdcdc;
  --button-fore-color: #212121;
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-group-border-color: rgba(124, 124, 124, 0.54);
  --header-back-color: #f8f8f8;
  --header-hover-back-color: #f0f0f0;
  --header-fore-color: #444;
  --header-border-color: #ddd;
  --nav-back-color: #f8f8f8;
  --nav-hover-back-color: #f0f0f0;
  --nav-fore-color: #444;
  --nav-border-color: #ddd;
  --nav-link-color: #0277bd;
  --footer-fore-color: #444;
  --footer-back-color: #f8f8f8;
  --footer-border-color: #ddd;
  --footer-link-color: #0277bd;
  --drawer-back-color: #f8f8f8;
  --drawer-hover-back-color: #f0f0f0;
  --drawer-border-color: #ddd;
  --drawer-close-color: #444;
  --table-border-color: #aaa;
  --table-border-separator-color: #666;
  --table-head-back-color: #e6e6e6;
  --table-head-fore-color: #111;
  --table-body-back-color: #f8f8f8;
  --table-body-fore-color: #111;
  --table-body-alt-back-color: #eee;
  --table-body-hover-back-color: #90caf9;
  --mark-back-color: #0277bd;
  --mark-fore-color: #fafafa;
  --toast-back-color: #424242;
  --toast-fore-color: #fafafa;
  --tooltip-back-color: #212121;
  --tooltip-fore-color: #fafafa;
  --modal-overlay-color: rgba(0, 0, 0, 0.45);
  --modal-close-color: #444;
  --modal-close-hover-color: #f0f0f0;
  --collapse-label-back-color: #e8e8e8;
  --collapse-label-fore-color: #212121;
  --collapse-label-hover-back-color: #f0f0f0;
  --collapse-selected-label-back-color: #ececec;
  --collapse-border-color: #ddd;
  --collapse-content-back-color: #fafafa;
  --collapse-selected-label-border-color: #0277bd;
  --progress-back-color: #ddd;
  --progress-fore-color: #555;
  --spinner-back-color: #ddd;
  --spinner-fore-color: #555;
  --generic-border-color: rgba(0, 0, 0, 0.3);
}

.card.warning {
  --card-back-color: #ffca28;
  --card-border-color: #e8b825;
}

.card.error {
  --card-back-color: #b71c1c;
  --card-fore-color: #f8f8f8;
  --card-border-color: #a71a1a;
}

.card > .section.dark {
  --card-back-color: #e0e0e0;
}

button.primary, [type="button"].primary, [type="submit"].primary, [type="reset"].primary, .button.primary, [role="button"].primary {
  --button-back-color: #1976d2;
  --button-fore-color: #f8f8f8;
}

button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus, [type="reset"].primary:hover, [type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  --button-hover-back-color: #1565c0;
}

button.secondary, [type="button"].secondary, [type="submit"].secondary, [type="reset"].secondary, .button.secondary, [role="button"].secondary {
  --button-back-color: #d32f2f;
  --button-fore-color: #f8f8f8;
}

button.secondary:hover, button.secondary:focus, [type="button"].secondary:hover, [type="button"].secondary:focus, [type="submit"].secondary:hover, [type="submit"].secondary:focus, [type="reset"].secondary:hover, [type="reset"].secondary:focus, .button.secondary:hover, .button.secondary:focus, [role="button"].secondary:hover, [role="button"].secondary:focus {
  --button-hover-back-color: #c62828;
}

button.tertiary, [type="button"].tertiary, [type="submit"].tertiary, [type="reset"].tertiary, .button.tertiary, [role="button"].tertiary {
  --button-back-color: #308732;
  --button-fore-color: #f8f8f8;
}

button.tertiary:hover, button.tertiary:focus, [type="button"].tertiary:hover, [type="button"].tertiary:focus, [type="submit"].tertiary:hover, [type="submit"].tertiary:focus, [type="reset"].tertiary:hover, [type="reset"].tertiary:focus, .button.tertiary:hover, .button.tertiary:focus, [role="button"].tertiary:hover, [role="button"].tertiary:focus {
  --button-hover-back-color: #277529;
}

button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
  --button-back-color: #212121;
  --button-fore-color: #f8f8f8;
}

button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
  --button-hover-back-color: #111;
}

.tooltip:not(.bottom):before {
  border-top-color: #212121;
}

.tooltip.bottom:before {
  border-bottom-color: #212121;
}

mark.secondary {
  --mark-back-color: #d32f2f;
}

mark.tertiary {
  --mark-back-color: #308732;
}

progress.primary {
  --progress-fore-color: #1976d2;
}

progress.secondary {
  --progress-fore-color: #d32f2f;
}

progress.tertiary {
  --progress-fore-color: #308732;
}

.spinner.primary {
  --spinner-fore-color: #1976d2;
}

.spinner.secondary {
  --spinner-fore-color: #d32f2f;
}

.spinner.tertiary {
  --spinner-fore-color: #308732;
}
/* END OF LIGHT THEME */

/* START OF DARK THEME */
@media (prefers-color-scheme: dark) {
:root {
  --fore-color: #fdfdfd;
  --secondary-fore-color: #f0f0f0;
  --back-color: #111;
  --secondary-back-color: #222;
  --border-color: #ddd;
  --secondary-border-color: #aaa;
  --a-link-color: #65A0C7;
  --a-visited-color: #3985B7;
  --card-back-color: #111;
  --card-fore-color: #fdfdfd;
  --card-border-color: #aaa;
  --form-back-color: #222;
  --form-fore-color: #fdfdfd;
  --form-border-color: #aaa;
  --input-back-color: #111;
  --input-fore-color: #fdfdfd;
  --input-border-color: #aaa;
  --button-back-color: #212121;
  --button-hover-back-color: #444;
  --button-fore-color: #e2e2e2;
  --header-back-color: #111;
  --header-hover-back-color: #222;
  --header-fore-color: #f0f0f0;
  --header-border-color: #aaa;
  --nav-back-color: #111;
  --nav-hover-back-color: #222;
  --nav-fore-color: #f0f0f0;
  --nav-border-color: #aaa;
  --footer-fore-color: #f0f0f0;
  --footer-back-color: #111;
  --footer-border-color: #aaa;
  --drawer-back-color: #111;
  --drawer-hover-back-color: #222;
  --drawer-border-color: #aaa;
  --drawer-close-color: #f0f0f0;
  --table-border-color: #ddd;
  --table-head-back-color: #212121;
  --table-head-fore-color: #fdfdfd;
  --table-body-back-color: #111;
  --table-body-fore-color: #fdfdfd;
  --table-body-alt-back-color: #444;
  --table-body-hover-back-color: #5c819f;
  --tooltip-back-color: #fafafa;
  --tooltip-fore-color: #212121;
  --modal-close-color: #f0f0f0;
  --modal-close-hover-color: #222;
  --collapse-label-back-color: #111;
  --collapse-label-fore-color: #fafafa;
  --collapse-label-hover-back-color: #222;
  --collapse-selected-label-back-color: #444;
  --collapse-border-color: #aaa;
  --collapse-content-back-color: #212121;
  --progress-back-color: #aaa;
}

.card.warning {
  --card-fore-color: #111;
}

.card > .section.dark {
  --card-fore-color: #111;
}

button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
  --button-back-color: #f8f8f8;
  --button-fore-color: #212121;
}

button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
  --button-hover-back-color: #f0f0f0;
}
}
/* END OF DARK THEME */
