/* START OF LIGHT THEME */
:root {
  --fore-color: #333;
  --secondary-fore-color: #666;
  --back-color: #fff;
  --secondary-back-color: #f2f2f2;
  --blockquote-color: #808080;
  --pre-color: #4a90e2;
  --border-color: #d3d3d3;
  --secondary-border-color: #e0e0e0;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #3f51b5;
  --a-visited-color: #303f9f;
  --card-back-color: #fff;
  --card-fore-color: #333;
  --card-border-color: #d3d3d3;
  --form-back-color: #f2f2f2;
  --form-fore-color: #333;
  --form-border-color: #d3d3d3;
  --input-back-color: #fff;
  --input-fore-color: #333;
  --input-border-color: #d3d3d3;
  --input-focus-color: #1e88e5;
  --input-invalid-color: #ff4b4b;
  --button-back-color: #f2f2f2;
  --button-hover-back-color: #e0e0e0;
  --button-fore-color: #333;
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-group-border-color: rgba(128, 128, 128, 0.5);
  --header-back-color: #fff;
  --header-hover-back-color: #f2f2f2;
  --header-fore-color: #666;
  --header-border-color: #d3d3d3;
  --nav-back-color: #fff;
  --nav-hover-back-color: #f2f2f2;
  --nav-fore-color: #666;
  --nav-border-color: #d3d3d3;
  --nav-link-color: #3f51b5;
  --footer-fore-color: #666;
  --footer-back-color: #fff;
  --footer-border-color: #d3d3d3;
  --footer-link-color: #3f51b5;
  --drawer-back-color: #fff;
  --drawer-hover-back-color: #f2f2f2;
  --drawer-border-color: #d3d3d3;
  --drawer-close-color: #666;
  --table-border-color: #d3d3d3;
  --table-border-separator-color: #808080;
  --table-head-back-color: #f2f2f2;
  --table-head-fore-color: #333;
  --table-body-back-color: #fff;
  --table-body-fore-color: #333;
  --table-body-alt-back-color: #e0e0e0;
  --table-body-hover-back-color: #c5cae9;
  --mark-back-color: #3f51b5;
  --mark-fore-color: #fff;
  --toast-back-color: #424242;
  --toast-fore-color: #fff;
  --tooltip-back-color: #212121;
  --tooltip-fore-color: #fff;
  --modal-overlay-color: rgba(0, 0, 0, 0.45);
  --modal-close-color: #666;
  --modal-close-hover-color: #f2f2f2;
  --collapse-label-back-color: #e0e0e0;
  --collapse-label-fore-color: #333;
  --collapse-label-hover-back-color: #f2f2f2;
  --collapse-selected-label-back-color: #d3d3d3;
  --collapse-border-color: #d3d3d3;
  --collapse-content-back-color: #fff;
  --collapse-selected-label-border-color: #3f51b5;
  --progress-back-color: #e0e0e0;
  --progress-fore-color: #666;
  --spinner-back-color: #e0e0e0;
  --spinner-fore-color: #666;
  --generic-border-color: rgba(0, 0, 0, 0.3);
}

.card.warning {
  --card-back-color: #ccc;
  --card-border-color: #999;
}

.card.error {
  --card-back-color: #ff5722;
  --card-fore-color: #fff;
  --card-border-color: #d84315;
}

.card > .section.dark {
  --card-back-color: #e0e0e0;
}

button.primary, [type="button"].primary, [type="submit"].primary, [type="reset"].primary, .button.primary, [role="button"].primary {
  --button-back-color: #3f51b5;
  --button-fore-color: #fff;
}

button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus, [type="reset"].primary:hover, [type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  --button-hover-back-color: #303f9f;
}

button.secondary, [type="button"].secondary, [type="submit"].secondary, [type="reset"].secondary, .button.secondary, [role="button"].secondary {
  --button-back-color: #ff5722;
  --button-fore-color: #fff;
}

button.secondary:hover, button.secondary:focus, [type="button"].secondary:hover, [type="button"].secondary:focus, [type="submit"].secondary:hover, [type="submit"].secondary:focus, [type="reset"].secondary:hover, [type="reset"].secondary:focus, .button.secondary:hover, .button.secondary:focus, [role="button"].secondary:hover, [role="button"].secondary:focus {
  --button-hover-back-color: #e64a19;
}

button.tertiary, [type="button"].tertiary, [type="submit"].tertiary, [type="reset"].tertiary, .button.tertiary, [role="button"].tertiary {
  --button-back-color: #388e3c;
  --button-fore-color: #fff;
}

button.tertiary:hover, button.tertiary:focus, [type="button"].tertiary:hover, [type="button"].tertiary:focus, [type="submit"].tertiary:hover, [type="submit"].tertiary:focus, [type="reset"].tertiary:hover, [type="reset"].tertiary:focus, .button.tertiary:hover, .button.tertiary:focus, [role="button"].tertiary:hover, [role="button"].tertiary:focus {
  --button-hover-back-color: #2e7d32;
}

button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
  --button-back-color: #fff;
  --button-fore-color: #333;
}

button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
  --button-hover-back-color: #f2f2f2;
}

.tooltip:not(.bottom):before {
  border-top-color: #212121;
}

.tooltip.bottom:before {
  border-bottom-color: #212121;
}

mark.secondary {
  --mark-back-color: #ff5722;
}

mark.tertiary {
  --mark-back-color: #388e3c;
}

progress.primary {
  --progress-fore-color: #3f51b5;
}

progress.secondary {
  --progress-fore-color: #ff5722;
}

progress.tertiary {
  --progress-fore-color: #388e3c;
}

.spinner.primary {
  --spinner-fore-color: #3f51b5;
}

.spinner.secondary {
  --spinner-fore-color: #ff5722;
}

.spinner.tertiary {
  --spinner-fore-color: #388e3c;
}
/* END OF LIGHT THEME */

/* START OF DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --fore-color: #e0e0e0;
    --secondary-fore-color: #a0a0a0;
    --back-color: #121212;
    --secondary-back-color: #333;
    --border-color: #999;
    --secondary-border-color: #666;
    --a-link-color: #80deea;
    --a-visited-color: #4dd0e1;
    --card-back-color: #121212;
    --card-fore-color: #e0e0e0;
    --card-border-color: #999;
    --form-back-color: #333;
    --form-fore-color: #e0e0e0;
    --form-border-color: #999;
    --input-back-color: #121212;
    --input-fore-color: #e0e0e0;
    --input-border-color: #999;
    --button-back-color: #333;
    --button-hover-back-color: #666;
    --button-fore-color: #e0e0e0;
    --header-back-color: #121212;
    --header-hover-back-color: #333;
    --header-fore-color: #a0a0a0;
    --header-border-color: #999;
    --nav-back-color: #121212;
    --nav-hover-back-color: #333;
    --nav-fore-color: #a0a0a0;
    --nav-border-color: #999;
    --footer-fore-color: #a0a0a0;
    --footer-back-color: #121212;
    --footer-border-color: #999;
    --drawer-back-color: #121212;
    --drawer-hover-back-color: #333;
    --drawer-border-color: #999;
    --drawer-close-color: #a0a0a0;
    --table-border-color: #999;
    --table-head-back-color: #333;
    --table-head-fore-color: #e0e0e0;
    --table-body-back-color: #121212;
    --table-body-fore-color: #e0e0e0;
    --table-body-alt-back-color: #666;
    --table-body-hover-back-color: #757575;
    --tooltip-back-color: #424242;
    --tooltip-fore-color: #e0e0e0;
    --modal-close-color: #a0a0a0;
    --modal-close-hover-color: #333;
    --collapse-label-back-color: #121212;
    --collapse-label-fore-color: #e0e0e0;
    --collapse-label-hover-back-color: #333;
    --collapse-selected-label-back-color: #666;
    --collapse-border-color: #999;
    --collapse-content-back-color: #333;
    --progress-back-color: #999;
  }

  .card.warning {
    --card-fore-color: #e0e0e0;
  }

  .card > .section.dark {
    --card-fore-color: #e0e0e0;
  }

  button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
    --button-back-color: #e0e0e0;
    --button-fore-color: #121212;
  }

  button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
    --button-hover-back-color: #f2f2f2;
  }
}
/* END OF DARK THEME */
