/* START OF LIGHT THEME */
:root {
  --fore-color: #111;
  --secondary-fore-color: #444;
  --back-color: #fffeeb;
  --secondary-back-color: #fff9db;
  --blockquote-color: #f75d00;
  --pre-color: #ff6b6b;
  --border-color: #aaa;
  --secondary-border-color: #ddd;
  --heading-ratio: 1.19;
  --universal-margin: 0.5rem;
  --universal-padding: 0.5rem;
  --universal-border-radius: 0.125rem;
  --a-link-color: #ff6b6b;
  --a-visited-color: #e84393;
  --card-back-color: #fff9db;
  --card-fore-color: #111;
  --card-border-color: #ddd;
  --form-back-color: #fffbe6;
  --form-fore-color: #111;
  --form-border-color: #ddd;
  --input-back-color: #fff9db;
  --input-fore-color: #111;
  --input-border-color: #ddd;
  --input-focus-color: #ff6b6b;
  --input-invalid-color: #d32f2f;
  --button-back-color: #fff0a5;
  --button-hover-back-color: #ffe9c4;
  --button-fore-color: #111;
  --button-border-color: transparent;
  --button-hover-border-color: transparent;
  --button-group-border-color: rgba(124, 124, 124, 0.54);
  --header-back-color: #fff9db;
  --header-hover-back-color: #fffbe6;
  --header-fore-color: #444;
  --header-border-color: #ddd;
  --nav-back-color: #fff9db;
  --nav-hover-back-color: #fffbe6;
  --nav-fore-color: #444;
  --nav-border-color: #ddd;
  --nav-link-color: #ff6b6b;
  --footer-fore-color: #444;
  --footer-back-color: #fff9db;
  --footer-border-color: #ddd;
  --footer-link-color: #ff6b6b;
  --drawer-back-color: #fff9db;
  --drawer-hover-back-color: #fffbe6;
  --drawer-border-color: #ddd;
  --drawer-close-color: #444;
  --table-border-color: #aaa;
  --table-border-separator-color: #666;
  --table-head-back-color: #fff0a5;
  --table-head-fore-color: #111;
  --table-body-back-color: #fff9db;
  --table-body-fore-color: #111;
  --table-body-alt-back-color: #fff3bf;
  --table-body-hover-back-color: #ffecb3;
  --mark-back-color: #ff6b6b;
  --mark-fore-color: #fafafa;
  --toast-back-color: #424242;
  --toast-fore-color: #fafafa;
  --tooltip-back-color: #212121;
  --tooltip-fore-color: #fafafa;
  --modal-overlay-color: rgba(0, 0, 0, 0.45);
  --modal-close-color: #444;
  --modal-close-hover-color: #fff9db;
  --collapse-label-back-color: #e8e8e8;
  --collapse-label-fore-color: #212121;
  --collapse-label-hover-back-color: #fffbe6;
  --collapse-selected-label-back-color: #ececec;
  --collapse-border-color: #ddd;
  --collapse-content-back-color: #fafafa;
  --collapse-selected-label-border-color: #ff6b6b;
  --progress-back-color: #ddd;
  --progress-fore-color: #555;
  --spinner-back-color: #ddd;
  --spinner-fore-color: #555;
  --generic-border-color: rgba(0, 0, 0, 0.3);
}

.card.warning {
  --card-back-color: #fff8e1;
  --card-border-color: #f7c6c4;
}

.card.error {
  --card-back-color: #ff9e9e;
  --card-fore-color: #f8f8f8;
  --card-border-color: #ff5b5b;
}

.card > .section.dark {
  --card-back-color: #fff0a5;
}

button.primary, [type="button"].primary, [type="submit"].primary, [type="reset"].primary, .button.primary, [role="button"].primary {
  --button-back-color: #ff6b6b;
  --button-fore-color: #f8f8f8;
}

button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus, [type="reset"].primary:hover, [type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  --button-hover-back-color: #e84393;
}

button.secondary, [type="button"].secondary, [type="submit"].secondary, [type="reset"].secondary, .button.secondary, [role="button"].secondary {
  --button-back-color: #ff6f61;
  --button-fore-color: #f8f8f8;
}

button.secondary:hover, button.secondary:focus, [type="button"].secondary:hover, [type="button"].secondary:focus, [type="submit"].secondary:hover, [type="submit"].secondary:focus, [type="reset"].secondary:hover, [type="reset"].secondary:focus, .button.secondary:hover, .button.secondary:focus, [role="button"].secondary:hover, [role="button"].secondary:focus {
  --button-hover-back-color: #e84393;
}

button.tertiary, [type="button"].tertiary, [type="submit"].tertiary, [type="reset"].tertiary, .button.tertiary, [role="button"].tertiary {
  --button-back-color: #56ab2f;
  --button-fore-color: #f8f8f8;
}

button.tertiary:hover, button.tertiary:focus, [type="button"].tertiary:hover, [type="button"].tertiary:focus, [type="submit"].tertiary:hover, [type="submit"].tertiary:focus, [type="reset"].tertiary:hover, [type="reset"].tertiary:focus, .button.tertiary:hover, .button.tertiary:focus, [role="button"].tertiary:hover, [role="button"].tertiary:focus {
  --button-hover-back-color: #4e9a06;
}

button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
  --button-back-color: #212121;
  --button-fore-color: #f8f8f8;
}

button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
  --button-hover-back-color: #111;
}

.tooltip:not(.bottom):before {
  border-top-color: #212121;
}

.tooltip.bottom:before {
  border-bottom-color: #212121;
}

mark.secondary {
  --mark-back-color: #ff6f61;
}

mark.tertiary {
  --mark-back-color: #56ab2f;
}

progress.primary {
  --progress-fore-color: #ff6b6b;
}

progress.secondary {
  --progress-fore-color: #ff6f61;
}

progress.tertiary {
  --progress-fore-color: #56ab2f;
}

.spinner.primary {
  --spinner-fore-color: #ff6b6b;
}

.spinner.secondary {
  --spinner-fore-color: #ff6f61;
}

.spinner.tertiary {
  --spinner-fore-color: #56ab2f;
}
/* END OF LIGHT THEME */

/* START OF DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --fore-color: #fdfdfd;
    --secondary-fore-color: #f0f0f0;
    --back-color: #1e1b22;
    --secondary-back-color: #2c2634;
    --border-color: #ddd;
    --secondary-border-color: #aaa;
    --a-link-color: #ff6b6b;
    --a-visited-color: #e84393;
    --card-back-color: #1e1b22;
    --card-fore-color: #fdfdfd;
    --card-border-color: #aaa;
    --form-back-color: #2c2634;
    --form-fore-color: #fdfdfd;
    --form-border-color: #aaa;
    --input-back-color: #1e1b22;
    --input-fore-color: #fdfdfd;
    --input-border-color: #aaa;
    --button-back-color: #2c2634;
    --button-hover-back-color: #4a4559;
    --button-fore-color: #e2e2e2;
    --header-back-color: #1e1b22;
    --header-hover-back-color: #2c2634;
    --header-fore-color: #f0f0f0;
    --header-border-color: #aaa;
    --nav-back-color: #1e1b22;
    --nav-hover-back-color: #2c2634;
    --nav-fore-color: #f0f0f0;
    --nav-border-color: #aaa;
    --footer-fore-color: #f0f0f0;
    --footer-back-color: #1e1b22;
    --footer-border-color: #aaa;
    --drawer-back-color: #1e1b22;
    --drawer-hover-back-color: #2c2634;
    --drawer-border-color: #aaa;
    --drawer-close-color: #f0f0f0;
    --table-border-color: #ddd;
    --table-head-back-color: #2c2634;
    --table-head-fore-color: #fdfdfd;
    --table-body-back-color: #1e1b22;
    --table-body-fore-color: #fdfdfd;
    --table-body-alt-back-color: #4a4559;
    --table-body-hover-back-color: #605e73;
    --tooltip-back-color: #fafafa;
    --tooltip-fore-color: #212121;
    --modal-close-color: #f0f0f0;
    --modal-close-hover-color: #2c2634;
    --collapse-label-back-color: #1e1b22;
    --collapse-label-fore-color: #fafafa;
    --collapse-label-hover-back-color: #2c2634;
    --collapse-selected-label-back-color: #4a4559;
    --collapse-border-color: #aaa;
    --collapse-content-back-color: #2c2634;
    --progress-back-color: #aaa;
  }

  .card.warning {
    --card-fore-color: #fdfdfd;
  }

  .card > .section.dark {
    --card-fore-color: #fdfdfd;
  }

  button.inverse, [type="button"].inverse, [type="submit"].inverse, [type="reset"].inverse, .button.inverse, [role="button"].inverse {
    --button-back-color: #f8f8f8;
    --button-fore-color: #212121;
  }

  button.inverse:hover, button.inverse:focus, [type="button"].inverse:hover, [type="button"].inverse:focus, [type="submit"].inverse:hover, [type="submit"].inverse:focus, [type="reset"].inverse:hover, [type="reset"].inverse:focus, .button.inverse:hover, .button.inverse:focus, [role="button"].inverse:hover, [role="button"].inverse:focus {
    --button-hover-back-color: #f0f0f0;
  }
}
/* END OF DARK THEME */
